body {
    background: rgb(255,177,242);
    background: radial-gradient(circle, rgba(255,177,242,1) 0%, rgba(255,255,255,1) 100%);
}

h1 {
    font-family: Courier;
    margin: 25px;
    font-size: 50px;
    text-align: center;
}

p {
    font-family: Courier;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

main {
    padding:80px;
}


